webapp/__pycache__/__init__.cpython-39.pyc
webapp/__pycache__/admin.cpython-39.pyc
webapp/__pycache__/apps.cpython-39.pyc
webapp/__pycache__/models.cpython-39.pyc
webapp/__pycache__/urls.cpython-39.pyc
webapp/__pycache__/views.cpython-39.pyc
ingenios/__pycache__/__init__.cpython-39.pyc
ingenios/__pycache__/settings.cpython-39.pyc
ingenios/__pycache__/urls.cpython-39.pyc
webapp/migrations/__pycache__/__init__.cpython-39.pyc
webapp/__pycache__/__init__.cpython-311.pyc
webapp/__pycache__/admin.cpython-311.pyc
webapp/__pycache__/apps.cpython-311.pyc
webapp/__pycache__/models.cpython-311.pyc
webapp/__pycache__/urls.cpython-311.pyc
webapp/__pycache__/views.cpython-311.pyc
ingenios/__pycache__/__init__.cpython-311.pyc
ingenios/__pycache__/settings.cpython-311.pyc
ingenios/__pycache__/urls.cpython-311.pyc
ingenios/__pycache__/wsgi.cpython-311.pyc
webapp/migrations/__pycache__/__init__.cpython-311.pyc
.gitignore
blog/__pycache__/__init__.cpython-311.pyc
blog/__pycache__/admin.cpython-311.pyc
blog/__pycache__/apps.cpython-311.pyc
blog/__pycache__/forms.cpython-311.pyc
blog/__pycache__/models.cpython-311.pyc
blog/__pycache__/urls.cpython-311.pyc
blog/__pycache__/views.cpython-311.pyc
blog/migrations/__pycache__/__init__.cpython-311.pyc
blog/migrations/__pycache__/0001_initial.cpython-311.pyc
blog/migrations/__pycache__/0002_alter_post_header_image.cpython-311.pyc
blog/migrations/0001_initial.py
blog/migrations/0002_alter_post_header_image.py
members/__pycache__/__init__.cpython-311.pyc
members/__pycache__/admin.cpython-311.pyc
members/__pycache__/apps.cpython-311.pyc
members/__pycache__/forms.cpython-311.pyc
members/__pycache__/models.cpython-311.pyc
members/__pycache__/urls.cpython-311.pyc
members/__pycache__/views.cpython-311.pyc
members/migrations/__pycache__/__init__.cpython-311.pyc
webform/__pycache__/__init__.cpython-311.pyc
webform/__pycache__/admin.cpython-311.pyc
webform/__pycache__/apps.cpython-311.pyc
webform/__pycache__/forms.cpython-311.pyc
webform/__pycache__/models.cpython-311.pyc
webform/__pycache__/urls.cpython-311.pyc
webform/__pycache__/views.cpython-311.pyc
webform/migrations/__pycache__/__init__.cpython-311.pyc
webform/migrations/__pycache__/0001_initial.cpython-311.pyc
webform/migrations/0001_initial.py
