<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block head %}
{% include 'webapp/head.html' %}
<title>{% block title %}InGenios2{% endblock %}</title>
{% endblock %}

<body {% block body_class %}class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu"{% endblock %}>

    {% block header %}
    {% include 'webapp/header.html' %}


    {% endblock %}

    {% block main %}
    {% include 'webapp/main.html' %}
    {% endblock %}

    {% block footer %}
    {% include 'webapp/footer.html' %}
    {% endblock %}

    {% block scroll %}
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    {% endblock %}

    {% block preloader %}
    <!-- Preloader -->
    <div id="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    {% endblock %}

    {% block scripts %}
    {% include 'webapp/scripts.html' %}

    {% block jquery_content %}
    {%  endblock %}

    {% endblock %}

</body>
</html>